*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  padding-top: 80px;
  /* padding-bottom: 80px; */
  min-height: 100%;
  background: -webkit-linear-gradient(#ffffff, #e0f4ffc9);
}
html {
  min-height: 100%;
}

main {
  margin-bottom: 80px;
  min-height: 100%;
}

/******************  Header  ***********************/
.navbar-default .navbar-brand {
  color: rgb(0, 120, 233);
  font-size: 20px;
  line-height: 29px;
  transition: color 0.2s;
  transition: transform 0.5s;
}
.navbar-default .navbar-brand:hover {
  color: rgba(255, 166, 0, 0.911);
  transform: scale(1.2);
}
.navbar-default .navbar-nav > li > a {
  color: black;
  transition: color 0.2s;
  transition: transform 0.5s;
}

.navbar-default .navbar-nav li a:hover {
  color: rgba(130, 130, 255, 0.822);
  transform: scale(1.15);
}

li#contact-info-dropdown-items {
  font-size: 16px;
  width: 250px;
  margin: 0px;
}

.dropdown-menu {
  padding: 0px;
}
.dropdown-menu > li > a {
  padding: 20px;
  transition: color 0.2s;
  transition: transform 0.5s;
}

.dropdown-menu > li > a:hover {
  color: rgba(130, 130, 255, 0.822);
}

/* right side --  */
.social-icons {
  width: 30px;
  height: auto;
}

/* navbar collapse */
.navbar-collapse li {
  text-align: center;
}
.navbar-collapse .social-icons-area a {
  margin-left: 5px;
  margin-right: 5px;
}
ul.navbar-nav li.social-icons-area:hover {
  background-color: transparent;
}
ul.navbar-nav li.social-icons-area {
  padding-bottom: 10px;
}
.navbar-fixed-top .navbar-collapse {
  max-height: 500px;
}

.navbar-nav li {
  font-size: 16px;
}

.navbar-nav > li > a {
  line-height: 33px;
}

/******************  self intro  ***********************/
/* profile image */
img#profile_picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 51%;
  border-radius: 6%;
  box-shadow: 0px 1px 5px black;
  margin-top: 16px;
}

#self-intro p {
  font-size: 18px;
}

.message1 {
  animation: message1;
  animation-timing-function: steps(19, end);
}

.message2 {
  animation: message2;
  animation-timing-function: steps(35, end);
}

.message1,
.message2 {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.message1::after,
.message2::after {
  content: "|";
  color: transparent;
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
  background-color: rgba(0, 0, 0, 0.739);
  height: 25px;
  top: 4px;
}

@keyframes message1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 7.7em;
  }
}

@keyframes message2 {
  0%,
  50%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 16.2em;
  }
}

/* typewritter animation */
@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/******************  Body  ***********************/
/* project item */
#projectBox {
  margin-top: 10px;
  /* border-style: solid; */
  /* border-color: rgba(133, 133, 133, 0.575); */
  border-radius: 20px;
  border-width: 1.8px;
  background-color: rgba(255, 255, 255, 0.945);
  display: flex;
  align-items: center;
}

.language-list {
  text-align: center;
  margin-top: 20px;
}
.language-list li {
  display: inline-block;
  padding-right: 40px;
  font-size: 20px;
  margin-bottom: 15px;
}
.language-icons {
  width: 30px;
  height: auto;
}
p#progLangName {
  display: inline;
  vertical-align: -1px;
  padding-left: 5px;
}

/* to reset the negative margins in bootstrap in order to create the gaps between the project box */
.row {
  margin: 0;
}

a#projectContainerBox:hover {
  cursor: pointer;
  text-decoration: none;
}

#projectBox {
  transition: background-color 0.8s;
  transition: transform 0.8s;
  box-shadow: 0px 1px 5px rgb(54, 54, 54);
}
#projectBox:hover {
  /* background-color: whitesmoke; */
  transform: scale(1.01);
}

#imageSpace {
  height: 100%;
}

#imageSpace img {
  width: 60%;
  height: auto;
  margin: auto;
}

div#imageSpace {
  text-align: center;
  /* vertical-align: middle; */
  margin-bottom: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
}

img#abnb_screeplot {
  width: 60%;
  height: auto;
}

.projectSummary {
  color: rgb(36, 36, 36);
  font-size: 16px;
  line-height: 25px;
}

.language-used {
  color: rgba(37, 113, 255, 0.897);
}

/* footer */
.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  padding: 20px;
  font-size: larger;
  color: rgba(255, 255, 255, 0.952);
}
.footer-infosign {
  text-align: right;
  font-size: 40px;
  padding: 25px;
}

/* media queries */
@media (max-width: 991px) {
  /* set the self intro to center */
  section#self-intro {
    text-align: center;
  }

  .message1,
  .message2 {
    animation-duration: 20s;
  }
}
@media (max-width: 767px) {
  .footer-infosign {
    text-align: center;
  }

  #projectBox {
    flex-direction: column;
  }

  @keyframes message1 {
    0% {
      width: 0em;
    }
    100% {
      width: 7.7em;
    }
  }

  .message1 {
    animation-duration: 1.5s;
    animation-iteration-count: inherit;
  }

  .message1::after {
    content: "|";
    color: transparent;
    position: sticky;
    right: 1;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
    background-color: rgba(0, 0, 0, 0.739);
    height: 25px;
    top: 4px;
  }

  .message2 {
    display: none;
  }
}
